# STM32CubeIDE workspace
/.metadata/
/.settings/
/*.log
/*.bak
/.recommenders/
/.recommenders_/
/.cproject
/.project
/.cxx
/.vscode/
/.DS_Store

# STM32CubeIDE build output
/Debug/
/Release/

/SW4STM32
/build/
